__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv/
.ipynb_checkpoints/
data/raw/*
data/processed/*
experiments/runs/*
experiments/checkpoints/*
experiments/figures/*
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv/
.ipynb_checkpoints/
data/raw/*
data/processed/*
experiments/runs/*
experiments/checkpoints/*
experiments/figures/*
datasets/*
.DS_Store

